div.unsupported {
    background-color: rgb(50,50,50);
    width: 300px;
    height: 60px;
    border: 1px solid white;
    padding: 50px;
    margin: auto;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

div.supported {
    background-color: rgb(50,50,50);
    width: 300px;
    height: 400px;
    border: 1px solid white;
    padding: 50px;
    margin: auto;
    font-family: "Segoe UI", sans-serif;
    font-size: 20px;
    text-align: left;
    color: white;
}

div.row {
    width: 100%;
    display: block;
}

div.column {
    width: 100%;
    display: inline-block;
}

#popup_form {
    width: 100%;
}

body {
    margin: 0px !important;
}

label.characteristic {
    width: 20%;
    float: left;
    font-size: 0.75em;
}

input.characteristic {
    width: 40%;
    float: left;
}